body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    padding: 20px;
}

input, textarea, button {
    display: block;
    width: 300px;
    margin-bottom: 10px;
    padding: 8px;
}

.bug {
    background: #1e293b;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
}
